{block content}

<div class="content content-info">
  <div class="container content-container">
    <h2 n:block=title>Nemožno zabezpečiť pool car</h2>
    <p>
      Na tvoju cestu už nevieme s istotou zabezpečiť pool car. Ozvi sa nám na <a href="mailto:dobrajazda@o2.sk">dobrajazda@o2.sk</a> a uvidíme čo sa dá robiť.
    </p>

    <a n:href="Search:request">Späť na hlavnú stránku</a>
  </div>
</div>