{block content}

<div class="content content-info">
  <div class="container content-container">
    <h2 n:block=title>Tvoja cesta bola úspešne zadaná.</h2>
    <p>
      Pozri si svoju e-mailovú schránku pre potvrdzovacie e-maily.
    </p>

    <a n:href="Search:request">Späť na hlavnú stránku</a>
  </div>
</div>
