parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

database:
	dsn: 'pgsql:host=127.0.0.1;dbname=ta3w544z'
	user: ta3w544z
	password: 3eqORJCVFy
	debugger: true
	options:
	    lazy: yes

session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	cityModel: App\Models\CityModel
	customerModel: App\Models\CustomerModel
	travelModel: App\Models\TravelModel
	travelTypeModel: App\Models\TravelTypeModel
	tripModel: App\Models\TripModel
	sendmailMailer: Nette\Mail\SendmailMailer
	authenticator: Nette\Security\SimpleAuthenticator([
            GhDxI1FqJ4: WsCwZK6bHO
        ])

extensions:
    nextras.form: Nextras\Forms\Bridges\NetteDI\FormsExtension
