parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

database:
	dsn: 'pgsql:host=127.0.0.1;dbname=o2-carpool-develop'
	user: o2-carpool
	password: password
	autowired: true

session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	ukazkovyModel: App\Models\ExampleModel
