body {
  padding-top: 5rem;
}

.navbar {
  background-color: #2d2e35 !important;
}

.form-container {
  text-align: left;
  padding: 3rem;
}

.form-group {
  margin-bottom: 1rem;
}

.btn-form {
  margin-top: 3rem;
}

.btn-group label {
  margin-top: 8px;
  margin-bottom: 0;
}

.alert-form {
  margin: .55rem 5rem;
}

.breadcrumb-navbar {
  margin: 0;
}

@media (min-width: 992px) {
  .breadcrumb-navbar {
    float: right;
  }
}

body {
  padding: 0;
}

.start-container {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.main-container {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.starter-template {
  padding: 1.5rem;
  padding-bottom: 0;
  text-align: center;
}

.admin-container {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.admin-template {
  padding: .5rem;
  padding-bottom: 0;
  text-align: center;
}

.input-row {
  padding-bottom: 1rem;
}

.btn {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.btn-halfrow {
  padding-top: 18px;
}

.btn-not-outer, .btn-first, .btn-last {
  border-radius: 0;
}

.btn-first {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.btn-last {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.btn-inverse {
	background-color: #FFFFFF;
}

.a-like-label {
}

.show-header {
  border-radius: .25rem;
  background-color: #eee;
  background-color: #343a40;
  color: #fff;
  padding: 0.55rem;
  padding-top: .55rem;
  padding-bottom: .55rem;

  margin: 1rem;
}

.btn-big {
  margin: 0 2rem;
}

.selector {
  border-radius: .25rem;
  background-color: #eee;
  padding: 1rem;
  padding-top: .25rem;
  margin: 1rem;
}

.selector-summary {
  padding: 1rem;
  background-color: #f8f8f8;
  #color: #111;
}

.selector-head {
#  border-radius: .25rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.selector-head > * {
  padding-top: .5rem;
  padding-bottom: .5rem;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  background-color: #F8F9FA; //#343a40
}

.selector-date-select > * {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.selector-row {
  display: flex;
  border-radius: .25rem;
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.selector-accordion {
  margin-top: 1rem;
}

.selector-card-header {
  font-size: 1rem;
}

.row-spaced {
  margin-bottom: 1rem;
}

.row-spaced-more {
  margin-bottom: 1.5rem;
}

.row-padded {
  padding-left: 1rem;
  padding-right: 1rem;
}

.nohover:hover {
  background-color: transparent;
  background-image: none;
  color: #343a40;;
}

a:hover {
  text-decoration: none;
}

.text-gray-white, .text-gray-white:hover {
  color: #fff;
  border-color: #fff;
}
.text-gray-dark, .text-gray-dark:hover {
  color: #212529;
  border-color: #212529;
}

.header-logo {
  background: url('../img/logo_dobra_jazda.png') center no-repeat;
  background-size: contain;
  #width: 235px;
  #height: 144px;
  margin: auto;
}

