@media (min-width: 768px) {
    .hidden-sm {
        display: none;
    }

    .visible-sm {
        display: block;
    }
}

@media (min-width: 992px) {
    .hidden-md {
        display: none;
    }

    .visible-md {
        display: block;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none;
    }

    .visible-lg {
        display: block;
    }

    .col-lg-date {
        width: 11.111%;
    }
}

