.row-md-spaced {
    margin-bottom: 1rem;
}

.hidden-sm {
    display: none;
}

.visible-sm {
    display: block;
}

.text-middle {
    margin-top: 4px;
    margin-bottom: 4px;
}

@media (min-width: 992px) {
    .hidden-md {
        display: none;
    }

    .visible-md {
        display: block;
    }

    .row-md-spaced {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none;
    }

    .visible-lg {
        display: block;
    }

    .col-lg-date {
        width: 11.111%;
    }
}

